
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
/* banner--section */
.header{
 background:rgba(229, 84, 115, 0.10);
 
}
.banner{
    padding: 100px 30px 0px 90px;
    display: flex;
    align-items: center;
}
.banner .prfle-pic{
    width:350px;
    height: 500px; 
}
.btn{
    border-radius: 8px;
    background: #E55473;
    padding:20px 43px;
    border: 0;
    font-size:20px;
    font-weight:700px;
    color: #fff;
    margin-top:20px;
    margin-bottom: 100px;
}
.fst-1s{
font-size:60px;
color:#272727;
margin-bottom: 0;

}
.fst-2s{
    font-size:15px;
    font-weight: 634px;
    color:#272727;
    margin-top:20px;

}

/*new section  */
.new-sec{
    padding:100px;
    text-align: center;
    display: flex;
}
img-3{
    width:300px;
    flex-shrink: calc(0);
}


/* newwwwwww */
.new-sec-2{
    background-color:#E554730D;

}
.cont{
    padding:100px 80px 30px 65px;
    display: flex;
    text-align: center;
}
.h33{
    padding-top:150px;
    font-size:35px;
    font-weight: 800px;;

}
.img-2{
    
    padding-bottom:50px;
padding-left:50px;
}
.ppp{
    padding-top:20px;
}
/* newwwwwwww */
.four{
    padding:100px 10px 10px 100px;
    text-align: center;
    display: flex;
}
.tt{
    width:200px;
    padding-left:10px;
    flex-shrink:0;
}
.ru{
    font-size: 40px;
    font-weight: 800;
}
.to{
    padding-top: 10px;
    padding-bottom: 20px;
}

/* newwwwwwwwwwwwwww */
.taa{
background-image: url(../Rectangle\ 9\ copy.png);
background-size: contain;
background-repeat: no-repeat;
margin:50px 55px 20px 107px;
text-align: center;


}
.rrrr{
  height:38px;
  width:500px;
  border-radius:8px;
  
}
.ii{
padding-top: 60px;
font-size:35px;
font-weight: 800;
margin-bottom:5px;
}
.rp{
    margin-bottom:10px;
}
.btn2{
    border-radius: 8px;
    background: #E55473;
    padding:10px;
    border: 0;
    font-size:20px;
    font-weight:700px;
    color: #fff;
    margin-top:20px;
    margin-bottom: 100px;
}



/* last cop........ */
.ses{
background-color: black;
text-align: center;
color: #fff;
padding: 150px;;


}
.huh{
    padding-bottom:10px;
    font-size:40px;
}
.ggg{
    margin-bottom:20px;
}
.bbb{
    color:rgba(255, 255, 255, 0.40);
    
}
th,td{
 border:5px solid #272727;
 b
text-align: center;
text-decoration: none;
}
tr{border: #272727;}
.trtr{
    margin:30px;
    
}
.fff{
    
    display: flex;
    justify-content:center;
    border-radius: 250px 250px 0px 0px ;
    border:0px;
}